.source.css {

  // highlight properties/values if they are supported
  .property-name{
    color: @hue-5;
    &.support {
      font-style: italic;
    }
  }

  .property-value {
    color: @hue-5;
    &.support {
      font-style: italic;
    }
  }

}
