.syntax--source.syntax--json {
  .syntax--meta.syntax--structure.syntax--dictionary.syntax--json {
    & > .syntax--string.syntax--quoted.syntax--json {
      & > .syntax--punctuation.syntax--string {
        color: @hue-3;
      }
      color: @hue-3;
    }
  }
  .syntax--punctuation.syntax--definition.syntax--array.syntax--begin.syntax--json, .syntax--punctuation.syntax--definition.syntax--array.syntax--end.syntax--json {
    font-weight: bold;
    color: @mono-1;
  }
  .syntax--punctuation.syntax--definition.syntax--dictionary.syntax--begin.syntax--json,.syntax--punctuation.syntax--definition.syntax--dictionary.syntax--end.syntax--json{
    font-weight: bold;
  }
  .syntax--meta.syntax--structure.syntax--dictionary.syntax--json, .syntax--meta.syntax--structure.syntax--array.syntax--json {
    & > .syntax--value.syntax--json > .syntax--string.syntax--quoted.syntax--json {
      color: @hue-6;
    }
    & > .syntax--value.syntax--json > .syntax--string.syntax--quoted.syntax--json > .syntax--punctuation {
      color: @hue-6;
    }
    & > .syntax--constant.syntax--language.syntax--json {
      color: @hue-1;
    }
  }
  .syntax--constant.syntax--language {
    color: @amethyst;
  }
}
