
// Editor styles (background, gutter, guides)

atom-text-editor {
  background-color: @syntax-background-color;
  color: @syntax-text-color;

  .line.cursor-line {
    background-color: @highligth-line;
  }

  .invisible {
    color: @syntax-invisible-character-color;
  }

  .cursor {
    border-left: 2px solid @syntax-cursor-color;
  }

  .selection .region {
    background-color: @syntax-selection-color;
  }

  @-webkit-keyframes bracketanimation {
    from  {
        border-width: 2px;
        border-color: rgba(255, 255, 255, 0.9);
        left: -3px;
        top: -2px;
    }
    10%   {
        border-width: 3px;
        border-color: rgba(255, 255, 255, 0.5);
        left: -3px;
        top: -4px;
    }
    to    {
        border-width: 1px;
        border-color: rgba(255, 255, 255, 0.3);
        left: 0px;
        top: 0px;
    }
  }
  .bracket-matcher .region {
      z-index: 100;
      border-bottom: 0;
  }
  .bracket-matcher .region:after {
      content: "";
      -webkit-animation-name: bracketanimation;
      -webkit-animation-duration: .3s;
      border: 1px dotted rgba(255, 255, 255, 0.5);
      border-style: dotted;
      border-radius: 3px;
      background-color: rgba(255, 255, 255, 0.2);
      width: 100%;
      height: 100%;
      position: absolute;
  }

  .invisible-character {
    color: @syntax-invisible-character-color;
  }

  .indent-guide {
    color: @syntax-indent-guide-color;
  }

  .wrap-guide {
    background-color: @syntax-wrap-guide-color;
  }


  .gutter {
    background: @syntax-gutter-custom-number-bg;
    .line-number {
      color: @syntax-gutter-text-color;
      -webkit-font-smoothing: antialiased;

      &.cursor-line {
        color: @syntax-gutter-text-color-selected;
        background: @highligth-line;
      }

      .icon-right {
        color: @syntax-text-color;
      }
    }

    &:not(.git-diff-icon) .line-number.git-line-removed {
      &.git-line-removed::before {
        bottom: -3px;
      }
      &::after {
        content: "";
        position: absolute;
        left: 0px;
        bottom: 0px;
        width: 25px;
        border-bottom: 1px dotted fade(@syntax-color-removed, 50%);
        pointer-events: none;
      }
    }
  }

  .gutter .line-number.folded,
  .gutter .line-number:after,
  .fold-marker:after {
    color: @syntax-gutter-text-color-selected;
  }
}
